Access-Control-Allow-Origin: http://charlie.rarus-crimea.ru/final_task/cash_register.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php